<% include header %>
<h2><span style="font-size: 25px" class="glyphicon glyphicon-remove"></span>404! Page not found.<span style="font-size: 25px" class="glyphicon glyphicon-remove"></span></h2>
<% include footer %>
