<% include header %>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { 
    console.log(entry.title)
    console.log(entry.content)
    console.log(entry.published)
    %>
<div class="panel panel-default">
<div class="panel-heading" style="color:SlateBlue">
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>
<div class="panel-body" style="color:DodgerBlue">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>
